/** css rest code **/
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
background-color: chocolate;
}
.wrapper
{
  min-height: calc(100vh - 96px);
}
.about-img,.contact-img{
  width: 350px;
  height: 350px;
}
